.cropped-image-container {
  width: 200px; /* Set the desired width */
  height: 100px; /* Set the desired height */
  overflow: hidden;
}

.cropped-image {
  object-fit: cover;
  width: 100%;
  height: 100%;
}
